// Import your custom Quasar variables
@import './quasar.variables.scss';
@import './shared-styles.scss';

// Import the STIX Two Text font from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

// Apply the font family to the entire site
body {
  font-family: "STIX Two Text", serif;
  font-weight: 400;
}

// Example class for using different font weights
.stix-two-text-bold {
  font-weight: 700;
}

.stix-two-text-italic {
  font-style: italic;
}

// General page container
.q-page-container {
  padding-top: 0 !important;
}



// Tone message boxes and choice buttons apply shared hover and tone styles
.tone-message-box,
.choice-btn {
  @extend .shared-hover;
}

.choice-btn {
  margin-bottom: 0 !important; // Remove bottom margin for all choice-btn buttons
}
  

.journey-drawer-list {
  padding: 0.1em !important;
  padding-top: 2em !important;
  margin: 0 !important;
}

.journey-drawer-item {
  padding: 0.5rem 3rem !important;
}

.journey-drawer-item-section {
  max-width: 80% !important;
  overflow: hidden;
  white-space: nowrap;
}




.home-link {
  color: $textWhite;
  text-decoration: none;
}





.about-us-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}
