// ============================================================
// Imports
// ============================================================
@import './quasar.variables.scss'; // Quasar variables for colors and themes
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap'); // Google Fonts

// ============================================================
// Global Font Styles
// ============================================================
body {
  font-family: "STIX Two Text", serif;
  font-weight: 400;
}

// Font weight variations
.stix-two-text-bold {
  font-weight: 700;
}

.stix-two-text-italic {
  font-style: italic;
}

// ============================================================
// General Layout Styles
// ============================================================
.q-page-container {
  padding-top: 0 !important;
}

// ============================================================
// Tone Message Boxes and Buttons
// ============================================================
.tone-message-box,
.choice-btn {
  @extend .shared-hover;

.choice-btn {
  margin-bottom: 0 !important; // Remove bottom margin for all choice-btn buttons
}
}

// ============================================================
// Links
// ============================================================
.shared-hover {
  transition: all 0.3s ease-in-out, transform 0.3s, box-shadow 0.3s, font-size 0.3s;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  }
}

// ============================================================
// Button Styles
// ============================================================
.choice-btn {
  @extend .shared-hover;
  margin-bottom: 0 !important;
}



// ============================================================
// Layout Adjustments
// ============================================================


// Focus Helper Override
.q-btn:hover .q-focus-helper {
  background-color: transparent !important;
}


// src/css/app.scss
