// Shared transition and hover effects
.shared-hover {
  transition: all 0.3s ease-in-out, transform 0.3s, box-shadow 0.3s, font-size 0.3s;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.11);
  }
}





// Heading Styles
h2 {
  padding: 0;
  margin: 0;
}

.dominantTagline {
  font-size: xx-large;
  font-weight: 600;
  margin-bottom: 1rem;
  color: $grayDark;
  text-align: center;
  padding-top: 11rem;
  letter-spacing: -1.25px;

  @media (max-width: 599px) {
    margin-bottom: 2rem;
    font-size: large;
    /* Reduce font size on smaller screens */
    // padding-top: 6rem; /* Adjust padding for mobile */
  }
}

// SDICS Message Box Styles
.tone-message-box {
  border-radius: 8px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 2rem 3rem 1rem 3rem;
  font-weight: 500;
  font-size: medium;

  &--supportive {
    background-color: rgba($blueVeryLight, 0.8); // Increased from 0.6 to 0.8
    border: 1px solid $blueVeryLight;
    color: $grayVeryDark;

    &:hover {
      background-color: rgba($blueVeryLight, 0.8); // Increased hover opacity
    }
  }

  &--dominant {
    background-color: rgba($orangeVeryLight, 0.6); // Adjusted opacity
    border: 1px solid $orangeVeryLight;
    color: $grayVeryDark;

    &:hover {
      background-color: rgba($orangeVeryLight, 0.69); // Adjusted hover opacity
    }
  }

  &--influential {
    background-color: rgba($yellowVeryLight, 0.7); // Adjusted opacity
    color: $grayVeryDark;

    &:hover {
      background-color: rgba($yellowVeryLight, 0.6); // Adjusted hover opacity
    }
  }

  &--conscientious {
    background-color: rgba($greenVeryLight, 0.6); // Adjusted opacity
    border: 2px solid $greenVeryLight;
    color: $grayVeryDark;

    &:hover {
      background-color: rgba($greenVeryLight, 0.55); // Adjusted hover opacity
    }
  }
}

// Supportive Wrap-Up Styling
.supportive-wrapup {
  text-align: center;
  color: $grayVeryDark;
  font-weight: 600;
  font-size: x-large;
  margin: 2rem 7rem 1.5rem;
  padding-top: 0.1rem;
  letter-spacing: -0.5px;
}





// Focus Helper Override
.q-btn:hover .q-focus-helper {
  background-color: transparent !important;
}


// src/css/shared-styles.scss
